.movie-card {
  width: 260px;
  background-color: #1b1b1b;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: translateY(-8px);
}

.movie-card img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.movie-info {
  padding: 15px;
}

.movie-info h2 {
  margin-bottom: 10px;
}

.movie-info p {
  color: #ccc;
}